<div class="form-wrapper" [formGroup]="form">

  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-hint *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')" class="error">
        {{ getRequiredMessage('First name') }}
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-hint *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')" class="error">
        {{ getRequiredMessage('Last Name') }}
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select
        formControlName="gender"
        [panelClass]="'gender-panel-fixed'"
        [disableOptionCentering]="true">
        <mat-option value="">--Select--</mat-option>
        <mat-option value="F">Female</mat-option>
        <mat-option value="M">Male</mat-option>
        <mat-option value="U">Unknown</mat-option>
      </mat-select>
      <mat-hint *ngIf="form.get('gender')?.touched && form.get('gender')?.hasError('required')" class="error">
        {{ getRequiredMessage('Gender') }}
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Score</mat-label>
      <input matInput type="number" formControlName="score" />
      <mat-hint *ngIf="form.get('score')?.touched && form.get('score')?.invalid" class="error">
        <ng-container *ngIf="form.get('score')?.errors?.['required']">Score is required.</ng-container>
        <ng-container *ngIf="form.get('score')?.errors?.['min']">Minimum score is 0.</ng-container>
        <ng-container *ngIf="form.get('score')?.errors?.['max']">Maximum score is 100.</ng-container>
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="submitForm()">
      {{ editingIndex !== null ? 'Edit' : 'Add' }}
    </button>
    <button mat-stroked-button color="warn" (click)="resetForm()">Cancel</button>
  </div>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let person; let i = index"> {{ i + 1 }} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let person"> {{ person.firstName }} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let person"> {{ person.lastName }} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let person">
      <span [matTooltip]="getGenderTooltip(person.gender)">
        {{ person.gender }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let person"> {{ person.score.toFixed(2) }} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let person; let i = index">
      <button mat-icon-button (click)="editPerson(i)" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
